@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  background: black;
}
/* -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
a {
  color: inherit;
  text-decoration: none;
}
.contact-flyout {
  z-index: 1;
}

.contact-flyout,
.intro-flyout {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  transition: opacity 0.5s linear;

  &-enter {
    opacity: 0.1;
  }
  &-enter-active {
    opacity: 0.5;
    transition: opacity 300ms;
  }
  &-enter-done {
    opacity: 1;
  }
  &-exit-done {
    opacity: 0;
  }
  &-exit-active {
    opacity: 0.7;
    transition: opacity 1s;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  text-transform: uppercase;
  color: white;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.8rem;
  margin: 1rem 0 0.5rem 0;
}

@media only screen and (min-width: 600px) {
  h4 {
    font-size: 1rem;
  }
}

.contact-title {
  margin-bottom: 20px;
  position: relative;
}
.socials-title {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.contact-title::after,
.socials-title::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 80%;
  height: 2px;
  top: 1.7rem;
  left: 0;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
}

.background {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
.contact-wrapper {
  margin-left: 60px;
  margin-top: 20%;
}

.intro-wrapper {
  padding: 5rem 4.5rem 0 4.5rem;
  line-height: 1.8rem;
}

@media only screen and (min-width: 600px) {
  .intro-wrapper {
    padding: 7rem 6rem 0 6rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 900px) {
  .intro-wrapper {
    padding: 7rem 12rem 0 12rem;
    font-size: 1.3rem;
  }
}

.menu-btn {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 100;
}

.menu-btn__burger {
  z-index: 10;
  width: 30px;
  height: 2px;
  background: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 30px;
  height: 2px;
  background: white;
  content: "";
  position: absolute;
  display: block;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-11px);
}

.menu-btn__burger::after {
  transform: translateY(11px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.contactPage {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  padding-top: 3rem;
  transition: opacity 0.5s linear;
}
.contactPage.open {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.instagram-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.instagram-icon {
  height: 40px;
  filter: invert(60%);
  transition: all 0.5s ease-in-out;
}
.instagram-icon:hover {
  filter: invert(100%);
}

.email a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: all 0.5s ease-in-out;
}

.email a:hover {
  color: white;
}

.fadecycle > * {
  opacity: 0;
  position: absolute;

  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
}
.singleimage img {
  object-fit: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.imagegradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    transparent,
    #000000cc
  ); // background: -webkit-linear-gradient(top, rgba(215, 219, 221, 0.5) rgba(0,47,75,0.5) 100%); /* Chrome10+,Safari5.1+ */
}
.fadecycle
  > *:nth-child(1)
  .fadecycle
  > *:nth-child(2)
  .fadecycle
  > *:nth-child(3)
  .fadecycle
  > *:nth-child(4)
  .fadecycle
  > *:nth-child(5)
  .fadecycle
  > *:nth-child(6) {
  background: none;
}

$totalTime: 21s;
$items: 6;
$animationSpeed: 2.5;

$animationTime: 0s + $totalTime / ($items * $animationSpeed * 2);
$showTime: (0s + $totalTime - ($animationTime * $items)) / $items;

@for $i from 1 through $items {
  .fadecycle > *:nth-child(#{$i}) {
    $delay: -$animationTime + ($animationTime + $showTime) * ($i - 1);
    animation: fadeinout $totalTime linear $delay infinite;
  }
}

$animationPercentage: 0% + 100 * (($animationTime / $totalTime));
$showPercentage: 0% + 100 * ($showTime / $totalTime);

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  #{$animationPercentage},
  #{$animationPercentage + $showPercentage} {
    opacity: 1;
  }
  #{$showPercentage + $animationPercentage * 2},
  100% {
    opacity: 0;
  }
}

.caption {
  padding-right: 5%;
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.logo {
  z-index: 999;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 60px;
  cursor: pointer;
  // color: white;
  // filter: brightness(300);
  // filter: blur(5px);
  filter: brightness(1);
  transition: all 0.8s ease-in-out;
}

.logo.open {
  transform: rotate(120deg);
}

.intro {
  margin-bottom: 2rem;
}

.hero {
  color: white;
  z-index: 999;
  position: fixed;
}
